.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    border-bottom: 2px solid #4d54bd;
}

.navbar h1{
    font-weight: 400;
}

.user{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.navleft{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.navbar div button {
    margin-right: 2rem;
    padding: 0.5rem 1.25rem;
    background-color: #4d54bd;
    font-family: var(--font-mono);
    border: 1px solid #4d54bd;
    border-radius: 5px;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {

    .navbar div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        margin-right: 2%;
        /* width: 60%; */
    }

    .navbar{
        padding: 3%;
    }


    .navbar div button {
        display: flex;
        /* margin-left: 1%; */
        flex-direction: row;
        font-size: 1rem;
        margin-right: 0.5%;
        padding: 0.25rem 0.25rem;
    }
    .Btnl{
        margin-right: 5% !important;
    }
  }